$bg: #fff;
$btn-secondary: #00b289;
$bg-produc: #4c4d5f;
$btn-primary: #f8db62;

@mixin btn($persentase, $padding, $size) {
  border-radius: $persentase;
  padding: $padding;
  font-size: $size;
  font-weight: bold;
}

@mixin card-item($width, $text: center, $padding) {
  width: $width;
  text-align: $text;
  padding: $padding;
}

@mixin super-item() {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $bg;
}

.navbar {
  //   background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  margin-top: 1rem;
  .navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .navbar-item {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
    }
    .navbar-btn {
      .login {
        background-color: $btn-primary;
        margin-right: 1rem;
        @include btn(10%, 0.5rem, 0.8em);
      }
      .free {
        background-color: $btn-secondary;
        @include btn(10%, 0.5rem, 0.8em);
      }
    }
  }

  .hamburger {
    display: none;
  }
}

.section-pertama {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  //   background-color: yellow;

  .plan-pricing {
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
    // border: 1px solid black;
    width: 70%;

    .chose-main {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;

    .card-workflow {
      border: 1px solid black;
      @include card-item(20rem, start, 2rem);
      h3 {
        margin-bottom: 1rem;
      }
      .price {
        margin-bottom: 1rem;
      }
      .feedback {
        text-align: start;
        margin: 1rem 0;
        p {
          line-height: 2rem;
          img {
            width: 15px;
            height: 15px;
            color: $btn-primary;
          }
        }
      }
      button {
        background-color: $btn-secondary;
        width: 100%;
        padding: 1rem;
      }
    }
    .card-workflow-plus {
      //   background-color: rgb(208, 208, 243);
      border: 1px solid black;
      position: relative;
      @include card-item(20rem, start, 2rem);
      .view-populer {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        img {
          width: 120px;
          height: 120px;
        }
      }
      h3 {
        margin-bottom: 1rem;
      }
      .price {
        margin-bottom: 1rem;
      }
      .feedback {
        text-align: start;
        margin: 1rem 0;
        p {
          line-height: 2rem;
          img {
            width: 15px;
            height: 15px;
            color: $btn-primary;
          }
        }
      }
      button {
        background-color: $btn-secondary;
        width: 100%;
        padding: 1rem;
      }
    }
  }
}

.super-charge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  .super-main {
    width: 70%;
    h2 {
      text-align: center;
    }
    .collaborator {
      margin-top: 1rem;
      @include super-item();
    }
    .partner {
      margin: 1rem 0;
      @include super-item();
    }
    .bonsai-tax {
      @include super-item();
    }
  }
}

.advertisement {
  width: 70%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba($color: $bg-produc, $alpha: 0.1);
  line-height: 3rem;
  .content {
    p {
      font-size: 2em;
      span {
        color: red;
      }
    }
  }
  button {
    padding: 1rem;
    font-size: 0.8em;
    background-color: $btn-secondary;
    border-radius: 5px;
  }
}

.questions {
  .question-main {
    width: 70%;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.footer {
  margin-top: 7rem;
  margin-bottom: 2rem;
  .footer-main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product {
      line-height: 1.5rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.2em;
      }
      ul {
        li {
          font-size: 0.8em;
        }
      }
    }
    .resource {
      line-height: 1.5rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.2em;
      }
      ul {
        li {
          font-size: 0.8em;
        }
      }
    }
    .bonsai {
      line-height: 1.5rem;
      h3 {
        margin-bottom: 1rem;
        font-size: 1.2em;
      }
      ul {
        li {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 1000px) {
  .navbar {
    .navbar-toggle {
      .navbar-item {
        ul {
          gap: 8px;
        }
      }
    }
  }
  .section-pertama {
    .card {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}
@media (min-width: 480px) and (max-width: 719px) {
  .navbar {
    .navbar-toggle {
      .navbar-item {
        ul {
          gap: 5px;
          li {
            font-size: 0.8em;
          }
        }
      }
      .navbar-btn {
        .login {
          margin-right: 0.2rem;
          @include btn(10%, 0.3em, 0.7em);
        }
        .free {
          @include btn(10%, 0.3em, 0.7em);
        }
      }
    }
  }
  .section-pertama {
    .plan-pricing {
      font-size: 0.7em;
      .chose-main {
        font-size: 0.69em;
      }
    }
    .card {
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    position: relative;
    .navbar-toggle {
      position: absolute;
      display: none;
      top: 68px;
      right: 0;
      &.show {
        transition: all 100s ease-in-out;
        display: block;
      }
      .navbar-main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgba($color: #a4a3a3, $alpha: 0.2);
        height: 100vh;
        width: 200px;
        padding: 1em;
        .navbar-item {
          ul {
            flex-direction: column;
            gap: 20px;
            li {
              font-size: 0.8em;
            }
          }
        }
        .navbar-btn {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .login {
            margin-right: 0.2rem;
            @include btn(10%, 0.3em, 0.7em);
          }
          .free {
            @include btn(10%, 0.3em, 0.7em);
          }
        }
      }
    }
    .hamburger {
      display: block;
    }
  }
  .section-pertama {
    .plan-pricing {
      font-size: 0.65em;
      .chose-main {
        font-size: 0.62em;
      }
    }
    .card {
      flex-wrap: wrap;
      gap: 15px;
      .card-workflow {
        @include card-item(15rem, center, 1rem);
        .feedback {
          font-size: 0.75em;
        }
        button {
          padding: 0.3rem;
        }
      }
      .card-workflow-plus {
        @include card-item(15rem, center, 1rem);
        .view-populer {
          img {
            width: 70px;
            height: 70px;
          }
        }
        .feedback {
          font-size: 0.75em;
        }
        button {
          padding: 0.3rem;
        }
      }
    }
  }
  .super-charge {
    .super-main {
      h2 {
        font-size: 1em;
      }
      .collaborator {
        font-size: 0.8em;
      }
      .partner {
        font-size: 0.8em;
      }
      .bonsai-tax {
        font-size: 0.8em;
      }
    }
  }
  .advertisement {
    line-height: 1em;
    .content {
      font-size: 0.5em;
    }
    button {
      font-size: 0.5em;
      padding: 0.3rem;
      margin-left: 10px;
    }
  }
  .questions {
    .question-main {
      h2 {
        font-size: 1em;
      }
      span {
        font-size: 0.75em;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .footer {
    .footer-main {
      flex-wrap: wrap;
      gap: 10px;
      .product {
        h3 {
          font-size: 1em;
        }
        ul {
          li {
            font-size: 0.7em;
          }
        }
      }
      .resource {
        h3 {
          font-size: 1em;
        }
        ul {
          li {
            font-size: 0.7em;
          }
        }
      }
      .bonsai {
        h3 {
          font-size: 1em;
        }
        ul {
          li {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}
